@model mvcproject.ModelView.OnlineBooksViewModel
    @using mvcproject.Models;

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/booksList.css" rel="stylesheet" />
    <title>@ViewData["Category"] Online Books</title>
</head>
<body>
    <div> 
       <h1>@ViewData["Category"] Online Books List:</h1>
        <div class="booksListContainer">
            @foreach (OnlineBook book in Model.onlineBooks)
            {
                <div class="bookContainer">
                    <h2>@book.onlineBookName</h2>
                    <img class="bookImg" src="@book.onlineBookImage" alt="@book.onlineBookName" />
                    <input class="addBookBtn" id="@book.onlineBookId" type="submit" value="Read me" onclick="location.href='@Url.Action("AddOnlineBook", "CustomerOnlineBooks",new {onlineBookId = @book.onlineBookId, categoryName = @ViewData["Category"]})'" />
                </div>
            }
        </div>
    </div>
</body>
</html>
