<header class="clearfix">
  <div id="logoHeader">
    <a href="/">
      <h1> {{ title }}</h1>
      <p> {{ subTitle }} </p>
    </a>
  </div>
  <div class="displayRedisterAndLogin"> 
    <div id="registerHeader">
      <a href="/register"> 
        <i class="fa fa-registered fa-2x" aria-hidden='true'> Register </i>  
      </a>
    </div>
    <div id="loginHeader">
      <a href="/login"> 
        <i class="fa fa-sign-in fa-2x" aria-hidden='true'> Login </i>  
      </a>
    </div>
  </div>
  <div class="displayLogOut">
    <div id="logOutHeader">
      <a href="/logout"> 
        <i class="fa fa-sign-out fa-2x" aria-hidden='true'>Logout</i>  
      </a>
    </div>
  </div> 
</header>
<a href="/carts/cart" class="clearfix userCart fa fa-shopping-cart fa-3x" aria-hidden="true">
    <span id="numberOfProductsInCart" class="badge"></span>
</a>
<h4 class="categoriesHead">Categories:</h4>
  <div class="clearfix productsCategoriesContainer">
  {{#each productsCategories}} 
      <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a href="#{{ @key }}" data-toggle='collapse'> {{ @key }}</a>
              </h4>
            </div>
              <div id= '{{ @key }}' class="panel-collapse collapse">
                <div class="panel-body">
                  <a href="/products/{{ @key }}/{{ this.[0] }}"> {{ this.[0] }}</a> 
                  </div>
                <div class="panel-body">
                  <a href="/products/{{ @key }}/{{ this.[1] }}"> {{ this.[1] }}</a> 
                  </div>
                <div class="panel-body">
                  <a href="/products/{{ @key }}/{{ this.[2] }}"> {{ this.[2] }}</a> 
                  </div>
              </div>
        </div> 
      </div>    
  {{/each}}
  </div>
  <div id="productsContainer">
    {{#each displayProducts}}
    <a href="/products/{{ this.url }}">    
      <div class="product">
        <h4>{{ this.name }}</h4>
        <img class="imgProduct" src="{{ this.img }}" alt="">
        <content class="priceProduct">{{ this.price }}</content>
    </a>
        <button class="cartIconButton cartIconAddToCart productCart fa fa-cart-plus fa-2x" aria-hidden="true" value="{{this.url}}"></button>
  </div>
    {{/each}}
</div>

<script src="/javascripts/indexClient.js"></script>